<h1>Login</h1>
<form method="POST">
    <p>
        <label>Username:</label>
        <br>
        <input type="text" name="username" />
    </p>
    <p>
        <label>Password:</label>
        <br>
        <input type="password" name="password" />
    </p>
    <p>
        Don't have an account? <a asp-area="" asp-controller="Home" asp-action="Register" class="btn btn-link">Register</a>
    </p>
    <button type="button" class="btn btn-dark">Login</button>
</form>